.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start;
  justify-items: center;
  height: 100vh;
  padding: 16px 80px;
  gap: 24px;
  font-family: var(--font-geist-sans);
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.promptInput {
  display: flex;
  gap: 16px;
  width: 100%;
  grid-row-start: 3;
  padding-bottom: 20px;
}

.promptInput > div {
  flex: 1;
}

.promptInput button {
  height: 56px;
}
